molten:
  lookup:
    package:
      version: 0.2.0
      sha1: 9e282941be0db44744f4dae70b8c78c2fc8b3ea4
    # change to 127.0.0.1 if you do not want to bind on public interface (see README)
    api_bind_interface: 0.0.0.0
    api_bind_port: 8000
    api_users:
      - test

